.App {
  text-align: center;
}

body {
  background-color: #2E2D4D;
  height: 100vh;

}

h1 {
  color: white;
}

p {
  color: white;
}
li {
  color: white;
  list-style-type: none;
}

.blindtest {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(40px);
  padding: 2rem;
}
