@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./assets/fonts/ClashDisplay-Medium.otf') format('truetype');
}

:root {
  --linear: linear-gradient(to right bottom, #ffd620, #ffb058, #ffb058, #ff9595, #dd436d, #d43a3a);
  --jaune: #FFD620;
  --rouge: #D43A3A;
  --bleu: #2E2D4D;
}

.App {
  text-align: center;
}

body {
  background-image: url('./assets/bg.webp');
  background-position: left center;
  height: 100vh;
  overflow: hidden;

}

h1 {
  font-family: "ClashDisplay-Medium";
  font-size: 1.8rem;

  -webkit-background-clip: text;
  color: white;
  margin: 1rem 0 0 0;
}

p {
  font-family: "ClashDisplay-Medium";
  color: white;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

li {
  font-family: "ClashDisplay-Medium";
  color: white;
  list-style-type: none;

}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;
  margin: 0 3rem;
}

input {
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: solid 3px var(--jaune);
  transition: ease 0.2s;
  width: 12rem;
}

input:focus {
  outline: none;
  box-shadow: 3px 4px 0px 0px var(--jaune);
}

button {
  font-family: "ClashDisplay-Medium";
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  transition: transform 0.1s ease 0s; /* Changed transition duration to 0.1s */

  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  border: solid 3px white;
  padding: 0.7rem;

  &:active {
    transform: scale(0.9);
  }
}

button.merge {
  margin-top: 2rem;
  width: 80%;
  font-size: 2rem;
  border-radius: 50px;
}

.SO-logo {
  margin-top: 1rem;
  width: 70%;

}


.add-player button {
  font-size: 2rem;
  border: none;
  padding: 0;
}

.add-player li {
  margin-right: 1rem;
}

button.start {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:active {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.track-details {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  box-shadow:
    0 -3px 5px 0px #FFD620,
    0 3px 5px 0px #D43A3A,
    0 1px 5px 0px #FFD100;
    z-index: 100;
}

.track-info {
  margin-bottom: 1rem;
}

.marquee {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 0 3rem 0 2rem;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.score-adder h1 {
  margin-bottom: 0.5rem;
}

.score-adder {
  background-color: rgba(0, 0, 0, 0.4);
border-radius: 30px;
  backdrop-filter: blur(5px);
 padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 100;
  box-shadow:
  0 -3px 5px 0px #FFD620,
  0 3px 5px 0px #D43A3A,
  0 1px 5px 0px #FFD100;
  z-index: 100;
}

button.score {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease 0s;
  border: none;
  border-radius: 15px;
  color: white;
  backdrop-filter: blur(40px);
  padding: 0.5rem;
  height: 6rem;
  width: 6rem;
  box-shadow:
    0 -2px 5px 0px #FFD620,
    0 2px 5px 0px #D43A3A,
    0 1px 5px 0px #FFD100;

    &:active {
      transform: scale(0.9);
    }
}

.leaderboard {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 5rem 2rem;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  box-shadow:
    0 -3px 5px 0px #FFD620,
    0 3px 5px 0px #D43A3A,
    0 1px 5px 0px #FFD100;
    padding: 1rem 2rem 1rem 2rem;
    z-index: 100;
}


.player {
  display: flex;
  font-size: 1.5rem;
  color: white;
  font-family: "ClashDisplay-Medium";
  justify-content: space-between;
  width: 100%;
}

ol {
  padding: 0;
  margin: 0;
}



.player-name {
  text-align: left;
}

.player-score {
  text-align: right;
}

.player-rank {
  text-align: left;
}





@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 35vmin;
  height: 35vmin;
  border-radius: 50%;
  background: transparent;
  animation: circle 1.5s linear infinite, ripple 1.5s linear infinite, spin 2s linear infinite;
  z-index: -2;

}

img.platine {
  width: 10%;
  position: absolute;
  left: 60%;
  top: 40%;
  z-index: -1;
}
.vynil {
  animation: rotation 2s linear infinite;
  z-index: -2;
}

.logo .reverse {
  top: -1.5vmin;
  left: 9.6vmin;
  transform: rotate(-135deg);
  z-index: -1;
}

.outer-circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90vmin;
  height: 90vmin;
  background: transparent;
  border-radius: 50%;
  animation: outer-circle 1.5s linear infinite;
  z-index: -1;
}

.outer-circle-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90vmin;
  height: 90vmin;
  background: transparent;
  border-radius: 50%;
  animation: outer-circle-2 1.5s linear infinite;
  z-index: -1;
}

@keyframes circle {
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes outer-circle {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: transparent;
  }
  75% {
    transform: scale(1.2);
    border: 1vmin solid var(--jaune);
  }
  100% {
    transform: scale(1.7);
    border: 1vmin solid var(--rouge);
    border-color: transparent;
  }

}

@keyframes outer-circle-2 {
  0% {
    transform: scale(1.3);
    border: 1vmin solid var(--rouge);
  }
  50% {
    transform: scale(1.7);
    border-color: transparent;
  }
  75% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 214, 32, 0.3),
                0 0 0 0vmin rgba(255, 214, 32, 0.3),
                0 0 0 0vmin rgba(255, 214, 32, 0.3),
                0 0 0 20vmin rgba(255, 214, 32, 0.3);
  }
  25% {
    box-shadow: 0 0 0 0 rgba(255, 214, 32, 0.3),
                0 0 0 0vmin rgba(255, 214, 32, 0.3),
                0 0 0 15vmin rgba(255, 214, 32, 0.3),
                0 0 0 20vmin rgba(255, 214, 32, 0.3);
  }
  50% {
    box-shadow: 0 0 0 0 rgba(212, 58, 58, 0.3),
                0 0 0 10vmin rgba(212, 58, 58, 0.3),
                0 0 0 15vmin rgba(212, 58, 58, 0.3),
                0 0 0 20vmin rgba(212, 58, 58, 0.3);
  }
  75% {
    box-shadow: 0 0 0 4vmin rgba(255, 214, 32, 0.3),
                0 0 0 10vmin rgba(255, 214, 32, 0.3),
                0 0 0 15vmin rgba(255, 214, 32, 0.3),
                0 0 0 20vmin rgba(212, 58, 58, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0vmin rgba(255, 214, 32, 0.3),
                0 0 0 0vmin rgba(255, 214, 32, 0.3),
                0 0 0 0vmin rgba(255, 214, 32, 0.3),
                0 0 0 0vmin rgba(255, 214, 32, 0);
  }
}
